*{
	margin: 0px;
	padding: 0px;
}
.cbody {
	height: 100vh;
	background-color: black;
}

.c-div-footer{
	width: 100%;
	position: relative;
	margin-top: 14%;
}

.cheader{
	display: ;
	background-color: white;
	width: 30%;
	height: 20%;
}

.clista{
	font-size: 20px;
}
.cfoto{
	margin: 0 50% 0 35%;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-radius: 360px;
	
}

.ctitle{
	font-size: 48px;
	
	text-align: center;

}


.cfooter{

	font-size: 140%;
	text-align: center;
	background-color: white;
}