@media(max-width:1440px) {}

@media(max-width:700px) {}

@media(max-width:500px) {

    body {}

    header {
        flex-direction: column;
    }

    .main-conteiner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        

    }

    main .article-tech {
        justify-content: center;
        align-items: center;
        top: 7em;
    }

    main .p-tech {
        font-size: 1em;
        
    }

    main .main-conteiner-section {
        width: 100vw;
        margin-top: -50px;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    main .main-conteiner-h2{
        
        margin-top: 3em;
        justify-content: center;
        align-items: center;
        
    }

    main .main-conteiner-p{
        width: 100vw;
        justify-content: center;
        align-items: center;
        margin: 0;
        
    }

    main article .div-tech {
        font-size: 0.7em;
        left: 0;

    }


    main .main-conteiner-figure{
        width: 100vw;
        margin: 0;
        align-items: center;
        justify-content: center;
        
    }

    main .figure-img {
        margin-top: 40;
        width: 150px;
        height: 150px;
        align-items: center;
        justify-content: center;

    }

    article .p-tech {}

    article .div-tech {}

}