@media (max-width: 1200px){
    header-container .h1{
        font-size: 1.5em;
        margin-bottom: 0.4em;
    }
       
}

@media (max-width: 700px) {
    .header-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .main-conteiner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .main-conteiner-figure, .na, .article-tech, .main-conteiner-section {
        margin: 1.2em;
    }
    .main-conteiner-h2{
        margin-top: 2em;
    }

}

    @media (max-width:500px) {
    
        body{
            
            
        }
        
        header-container {
            background-color: blue;
        }

        .nav{
            background-color: blue;
            font-size: 1em;
            align-items: center;
            justify-content: center;
        }

        article{
            background-color: brown;
            
            margin-right: 0px;
        }

        .main-conteiner{
            
           
        }
        article .p-tech{
            background-color: brown;
            font-size: 1em;
            align-items: center;
            justify-content: center;
        }
        article .div-tech{
            font-size: 0.8em;
            background-color: brown;
        }
        
}