@media (max-width: 1200px){
    header .w-h1{
        font-size: 1.5em;
        margin-bottom: 0.4em;
    }
       
}

@media (max-width: 700px) {
    .w-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .w-main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .w-main-figure, .w-na, .w-article-tech, .w-main-section {
        margin: 1.2em;
    }
    .w-main-h2{
        margin-top: 2em;
    }

}

    @media (max-width: 400px) {
    
        body{
            
            
        }
        
        header {
            background-color: blue;
        }

        .w-nav{
            background-color: blue;
            font-size: 1em;
            align-items: center;
            justify-content: center;
        }

        article{
            background-color: brown;
            
            margin-right: 0px;
        }

        .w-main{
            
           
        }
        article .w-p-tech{
            background-color: brown;
            font-size: 1em;
            align-items: center;
            justify-content: center;
        }
        article .w-div-tech{
            font-size: 0.8em;
            background-color: brown;
        }
        
}